{% extends 'main/base.html.twig' %}

{% block title %}Homepage - RankedChoice{% endblock %}
{% block page_keywords %}Jeans, Jackets{% endblock %}
{% block page_description %}Main page of RankedChoice shop!{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col-12">
                {{ form_row(form.title) }}
            </div>
            <div class="col-12">
                {{ form_row(form.price) }}
            </div>
            <div class="col-12">
                {{ form_row(form.quantity) }}
            </div>
            <div class="col-12">
                {{ form_row(form.createdAt) }}
            </div>
            <div class="col-12">
                {{ form_row(form.description) }}
            </div>
            <div class="col-12">
                {{ form_row(form.isPublished) }}
            </div>
            <div class="col-12">
                {{ form_row(form.isDeleted) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
